# Copy to /etc/systemd/system

Description=Tasky GroupMe texts bot

After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
ExecStart=/home/pi/groupme_text_reminders/start.bash
Restart=on-failure
RestartSec=20s

[Install]
WantedBy=multi-user.target